<div class="col-sm-1">
    {% set disabled = '' %}
    {% if moves|length > 40 %}
        {% set disabled =  "disabled='disabled'" %}
    {% endif %}
    {% for key,value in moves %}
        {{ key }} : {{ value }} : {{ coordinate }}
        : {{ moves.coordinate }}
    {% endfor %}
    {% if moves.coordinate is defined %}
        {% if moves.coordinate == 'hit' %}
            'H'
        {% elseif moves.coordinate is same as('miss') %}
           'M';
        {% endif %}
    {% else %}
        <input type='radio' id='board_{{ coordinate }}' value='{{ coordinate }}' name='board' {{ disabled }}>
    {% endif %}
</div>