{% set xRange = 10 %}
{% set yRange = 10 %}
<div class="row">
    <div class="col-sm-2"></div>
    {% for i in range(1,xRange) %}
        <div class="col-sm-1">
            {{ i }}
        </div>
    {% endfor %}
</div>
{% for y in range(1,yRange) %}
    <div class="row">
        <div class="col-sm-2">{{ y }}</div>
        {% for x in range(1,xRange) %}
            {% set coordinate = y~x %}
            {{ include('boardCell.twig') }}
        {% endfor %}
    </div>
{% endfor %}

