<form method="POST">
    {{ include('boardComponent.twig') }}
    <div class="col-sm-6">
        <input type="submit" value="submit" name="submit">
    </div>
    <div class="col-sm-6">
        <input type="submit" value="reset" name="reset">
    </div>
</form>