{% extends "main.twig" %}

{% block title %}Game Layout{% endblock %}
{% block head %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}
{% block content %}
    <h2>Battleships</h2>
    {% if moves|length > 0 %}
        {{ include('boardLayout.twig') }}
    {% else %}
        {{ include('errorPartial.twig') }}
    {% endif %}
{% endblock %}