<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    {% block head %}
        <title>{% block title %}{% endblock %} - Battleship</title>
    {% endblock %}
</head>
<body>
<div id="content" class="container-fluid">{% block content %}{% endblock %}</div>
<div id="footer">
    {% block footer %}
        &copy; Copyright 2017 by Battleship.
    {% endblock %}
</div>
</body>
</html>